{% extends 'base.html' %}
{% load static %}
{% block title %}
about us page
{% endblock %}

{% block content %}
<div class="container col-md-10 col-sm-12">
    <h3 class="text-success text-center border-bottom mt-4 mb-4">About Our Website </h3>
    <p class="mb-4">welcome to our website EmpireKnowledge.com .This is a Knowledge share and advertising website. We have a six part in this website. Let's take a look about them</p>

<div class="card text-primary bg-info mb-3" style="max-width: 100%;">
  <div class="card-header">MediaBlog</div>
  <div class="card-body">
    <p class="card-text">This is a type of media blogging webpage. Here a user can write an article for a YouTube video with the help of the video link . And the other user can react and comment with their post and also share them in social site.</p>
  </div>
</div>
<div class="card text-primary bg-success mb-3" style="max-width: 100%;">
  <div class="card-header">Events</div>
  <div class="card-body">
    <p class="card-text"> It is a event advertisement webpage .A user can post a event in here with all details about the event and also include a registration link for the event so that user can redirect to the registration page directly .User can also comment and become interested to the event..</p>
  </div>
</div>
<div class="card text-primary bg-warning mb-3" style="max-width: 100%;">
  <div class="card-header">Scope</div>
  <div class="card-body">
    <p class="card-text">This page is for those who want's someone who can help then in their work like Research, Project, Internship, Teachers, Lab assistance etc. User can find all kind of job post here and they can register for that work with the help of register link to that work.</p>
  </div>
</div>

<div class="card text-primary bg-info mb-3" style="max-width: 100%;">
  <div class="card-header">Journal</div>
  <div class="card-body">
    <p class="card-text">we have designed a Journal page for the writer who writes journal .Here a user can find two type of journal (free & paid) .User can download free journal easily but for paid journal user must paid a little cost to download it. A writer can also make money by their journal. User can get money for paid journal and after limit payout user can make a request for payout and after 7 working days user will get the payment.</p>
  </div>
</div>
<div class="card text-primary bg-success mb-3" style="max-width: 100%;">
  <div class="card-header">E-Book</div>
  <div class="card-body">
    <p class="card-text"> we have a e-book section in our website. There are two type of book free and premium. User can only read the free books. For premium books a user must subscribe a package to read premium books. we are offering 1 month,3 month,1 year package.</p>
  </div>
</div>
<div class="card text-primary bg-warning mb-3" style="max-width: 100%;">
  <div class="card-header">Community</div>
  <div class="card-body">
    <p class="card-text"> we have also a community page in our website. Here users can post any kind of help post to the other user.  And Others user can reply the solve in the comment section.</p>
  </div>
</div>


</div>
{% endblock %}