{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Change password
{% endblock %}

{% block css %}
.postmedia{
    margin: 0 auto;
    background:#e4e4e4;

    }
    .invalid-feedback>strong {
    font-weight: 700;
    color: red;
    margin-left: 10px;

}
{% endblock %}

{% block content %}
    <form method="post"  class="col-md-8 col-sm-12 postmedia px-sm-5 py-5 border mb-md-4 mt-2" >{% csrf_token %}
        <h3 class="text-primary border-bottom">Password Change Form </h3>
        {{ form| crispy }}
        <div class="form-group">
            <button type="submit"class="btn btn-primary col-md-12"><i class="fas fa-pen"></i>&nbsp;&nbsp;Change Password</button>
        </div>
    </form>
{% endblock %}