{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
.postmedia{
margin: 0 auto;
}

{% endblock %}

{% block title %}
Media blog post
{% endblock %}

{% block content %}

         {% if messages %}
           {% for message in messages %}
         <div class="alert alert-success alert-dismissable mt-4">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
         {{ message }} <a href="#" class="alert-link"></a>.
         </div>
        {% endfor %}

        {% endif %}

    <form method="post" enctype="multipart/form-data" class="col-md-8 col-sm-12 postmedia bg-light px-sm-5 py-5 border mb-md-4 mt-2" >{% csrf_token %}
        <h3 class="text-primary border-bottom">Post Media </h3>
        {{ form.media }}
        {{ form| crispy }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary col-md-12"><i class="fa fa-save"></i>&nbsp;Post Media Now</button>
        </div>
    </form>
{% endblock %}